<div id="topbar">
    <ol class="breadcrumb">
        <li>Комментарии</li>
    </ol>
</div>
<div id="content">
    <div id="flashes">
    </div>

    <div class="page-header">
        <h1><i class="glyphicon glyphicon-comment"></i> Управление комментариями.</h1>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="center-text">#id</th>
            <th colspan="2">Комментатор</th>
            <th>Комментарий</th>
            <th>IP</th>
            <th class="text-right text-date">Отправлен</th>
            <th class="text-right">Disqus ID</th>
            <th class="actions">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |comment|}}
            {{tr-comment comment=comment}}
        {{/each}}
        </tbody>
    </table>

    {{paginator-list meta=model.meta routeName="comments"}}

    {{footer-partial}}

    {{delete-confirm action="removeComment"}}
</div>
