<div id="topbar">
    <ol class="breadcrumb">
        <li>Комментаторы</li>
    </ol>
</div>
<div id="content">
    <div id="flashes">
    </div>

    <div class="page-header">
        <h1><i class="glyphicon glyphicon-user"></i> Управление комментаторами.</h1>
    </div>

    <table class="table table-bordered table-striped table-commentators">
        <thead>
        <tr>
            <th class="center-text column-id">#id</th>
            <th class="column-cmtr">Аватар</th>
            <th>Ник</th>
            <th>Емейл</th>
            <th>Сайт</th>
            <th class="center-text column-gender"></th>
            <th class="text-right text-date">Создан</th>
            <th class="actions">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |commentator|}}
            {{tr-commentator commentator=commentator}}
        {{/each}}
        </tbody>
    </table>

    {{paginator-list meta=model.meta routeName="commentators"}}

    {{footer-partial}}

    {{avatar-uploader action="refresh"}}
</div>
