<div id="topbar">
    <ol class="breadcrumb">
        <li>
            {{#link-to "posts"}}
                Записи
            {{/link-to}}
        </li>
        <li>Редактирование</li>
    </ol>
</div>
<div id="content">
    <div id="flashes">
    </div>
    <div class="page-header">
        <h1>
            <i class="glyphicon glyphicon-pencil"></i> Редактирование записи
        </h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a>Запись</a>
        </li>
        <li>
            {{#link-to "postimages" model.id}}
                Картинки
            {{/link-to}}
        </li>
    </ul>
    <br>
    {{form-post model=model
        back=(action "back")
        afterSave=(action "afterSave")
        categoryChoices=categoryChoices}}
    <div class="alert alert-success {{alertClass}}" role="alert">
        Запись успешно сохранена {{date-format model.lastUpdate 'DD MMMM HH:mm:ss'}}
    </div>

    {{footer-partial}}
</div>
