/web/bundles/
/web/assetic/
/web/dist/
/web/js/
/var/.php_cs.cache
/var/cache/*
/var/log/*
/var/tests/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/tests/.gitkeep
/build/
/vendor/
/node_modules/
/bin/*
!/bin/console
!/bin/phpunit
/composer.phar
/bower_components/
behat.yml

/spa/dist
/spa/tmp
/spa/node_modules
/spa/bower_components
/spa/.sass-cache
/spa/connect.lock
/spa/coverage/*
/spa/libpeerconnection.log
/spa/npm-debug.log
/spa/testem.log
/web/spa/
/web/fonts/
.env
http-client.env.json
/docker/nginx/fullchain.pem
/docker/nginx/privkey.pem

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/phpunit.xml
.phpunit.result.cache
.phpunit
