/app/config/parameters.yml
/web/bundles/
/web/css/
/web/assetic/
/web/dist/
/web/js/
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/node_modules/
/bin/
/composer.phar
/bower_components/
behat.yml

/spa/dist
/spa/tmp
/spa/node_modules
/spa/bower_components
/spa/.sass-cache
/spa/connect.lock
/spa/coverage/*
/spa/libpeerconnection.log
/spa/npm-debug.log
/spa/testem.log
/web/spa/
/web/fonts/
.env
