/app/config/parameters.yml
/web/bundles/
/web/css/
/web/js/
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
src/Mtt/BlogBundle/Resources/public/components/
behat.yml

/spa/dist
/spa/tmp
/spa/node_modules
/spa/bower_components
/spa/.sass-cache
/spa/connect.lock
/spa/coverage/*
/spa/libpeerconnection.log
/spa/npm-debug.log
/spa/testem.log
/web/spa/
.env
