.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 30px;
    margin: 10px 15px 10px 10px;
}

.navbar-brand span {
    color: #222;
    float: right;
    font-size: 15px;
    margin-top: 13px;
}

.navbar-brand:hover span {
    color: #fff;
}
