parameters:
    database_driver:   pdo_mysql
    database_host:     hedgehog
    database_port:     ~
    database_name:     mttblog
    database_user:     mttblog
    database_password: docker

    admin_email:       admin@example.org

    mailer_transport:  smtp
    mailer_host:       mailcatcher
    mailer_port:       1025
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: null

    dropbox_key:       mpramtmajJqM2d2
    dropbox_secret:    zeWZ5amF4RkYxMn

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    nodemodules_bin_path: /usr/bin
    browsertitle:         morontt.info

    image_basepath: /uploads
    frontend_site: "https://morontt.info"

    disqus_shortname: yourshortkey
    disqus_secret_key: TW9uIE1heSAgOSAxNjo1ODo0OCBFRVNUIDIwMTYK
    disqus_owner_id: 44949832

    ipinfodb_key: c02bdf172b2572515c4f39d8ca0999df28960be4

    telegram_token: "123456789:y6MEO55PGhWYmT9fMmUrwIMjrRY1QH"
    telegram_bot: test_bot
    telegram_admin_id: 123456789
