<table width="100%" cellspacing="0" style="background-color: #859C40; color: #FFF; font-family: 'Consolas','Lucida Console',monospace; font-size: 12pt;">
    <tr height="56">
        <td style="padding: 0 35px;">
            <a style="color: #FFF200; text-decoration: none; font-family:'Consolas','Lucida Console',monospace;font-size:14pt;"
               href="{{ frontend_site }}">{{ browsertitle }}</a>
        </td>
        <td align="right">
            <img src="{{ frontend_site }}/images/logo_mail.png" alt="Site Logo"/>
        </td>
    </tr>
</table>
