<hr/>

<div class="modal fade" id="confirmation-modal" role="dialog"
     data-object-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ахтунг!</h4>
            </div>

            <div class="modal-body">
                Действительно удалить?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> cancel</button>
                <a class="btn btn-danger" id="confirmation-modal-confirm">
                    <i class="glyphicon glyphicon-trash"></i><span>delete</span>
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; <a href="http://morontt.info">morontt.info</a>, 2014.</p>
</footer>
