<div class="row">
    <div class="col-xs-9">
        <ul class="pagination">
            <li class="prev disabled"><span>&larr; Назад</span></li>
            <li class="active"><span>1</span></li>
            <li><a href="/item/?page=2">2</a></li>
            <li><a href="/item/?page=3">3</a></li>
            <li><a href="/item/?page=4">4</a></li>
            <li><a href="/item/?page=5">5</a></li>
            <li><a href="/item/?page=6">6</a></li>
            <li><a href="/item/?page=7">7</a></li>
            <li class="disabled"><span>&hellip;</span></li>
            <li><a href="/item/?page=12">12</a></li>
            <li class="next"><a href="/item/?page=2">Вперёд &rarr;</a></li>
        </ul>
    </div>
</div>
